---
import "../styles/global.css";
---

<a
	href="/contacto"
	id="stickyButton"
	class="btn md:hidden text-xl fixed bottom-0 left-0 w-screen bg-primary text-white text-center z-100 sm:relative sm:w-auto sm:bg-transparent sm:text-inherit"
>
	Disponibilidad
</a>
