<nav class="p-4 container mx-auto max-w-2xl py-5">
	<br />

	<ol class="flex items-center space-x-2 text-sm text-gray-500">
		<li>
			<a href="/" class="flex items-center hover:text-blue-600 transition-colors">
				<i data-lucide="home" class="w-4 h-4"></i>
				<span class="ml-1">Inicio</span>
			</a>
		</li>
	</ol>
</nav>
